services:
  netdata:
    networks:
      - default
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.netdata.rule=Host(`netdata.local.crz.li`)"

networks:
  traefik:
    external: true